---
layout: default
---
<article>
  {% if page.title %}
    <h1>{{ page.title }}</h1>
  {% endif %}
  
  {% if page.description %}
    <p class="description">{{ page.description }}</p>
  {% endif %}

  {% if page.date %}
    <time>{{ page.date | date: "%B %d, %Y" }}</time>
  {% endif %}

  {% if page.tags %}
    <div class="tags">
      {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
  {% endif %}

  {% if page.youtube %}
    {% if page.youtube contains "youtu.be/" %}
      {% assign youtube_id = page.youtube | split: "youtu.be/" | last | split: "?" | first %}
    {% elsif page.youtube contains "v=" %}
      {% assign youtube_id = page.youtube | split: "v=" | last | split: "&" | first %}
    {% else %}
      {% assign youtube_id = page.youtube %}
    {% endif %}
    {% include youtube.html id=youtube_id %}
  {% endif %}

  <hr class="article-separator">

  {{ content }}
</article>